<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION">
        <!-- For importing files to include location data on SDK >= 29 -->
    </uses-permission>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE">
        <!-- For background import to work with a notification on SDK >= 28 -->
    </uses-permission>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC">
        <!-- For background import to work with a notification on SDK >= 34 -->
    </uses-permission>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <queries>
        <!-- Required for the Custom Tabs fallback -->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>

        <!-- Android 13 app language preferences -->
        <intent>
            <action android:name="android.settings.APP_LOCALE_SETTINGS" />
        </intent>
    </queries>

    <application
        android:name=".PhotoPrismGallery"
        android:allowBackup="false"
        android:banner="@drawable/tv_banner"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locale_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">

        <activity
            android:name=".features.gallery.view.GalleryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.viewer.view.MediaViewerActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:theme="@style/MediaViewerTheme" />

        <activity
            android:name=".features.envconnection.view.EnvConnectionActivity"
            android:exported="false"
            android:label="@string/connect_to_a_library"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name=".features.prefs.view.PreferencesActivity"
            android:exported="false"
            android:label="@string/preferences"
            android:resizeableActivity="true" />

        <activity
            android:name=".features.webview.view.WebViewActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".features.welcome.view.WelcomeActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".features.gallery.search.albums.view.GallerySearchAlbumSelectionActivity"
            android:exported="false"
            android:label="@string/albums"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".features.gallery.search.view.GallerySearchActivity"
            android:exported="false"
            android:label="@string/search_the_library"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".features.people.view.PeopleSelectionActivity"
            android:exported="false"
            android:label="@string/people"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".features.viewer.slideshow.view.SlideshowActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:theme="@style/MediaViewerTheme" />

        <activity
            android:name=".features.viewer.slideshow.view.SlideshowGuideActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:theme="@style/TranslucentGuideTheme" />

        <activity
            android:name=".features.ext.key.activation.view.KeyActivationActivity"
            android:exported="true"
            android:label="@string/key_activation_input_title"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="activate-key"
                    android:scheme="@string/uri_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.ext.store.view.GalleryExtensionStoreActivity"
            android:exported="false"
            android:label="@string/extension_store_title"
            android:resizeableActivity="true" />

        <activity
            android:name=".features.importt.view.ImportActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/import_title"
            android:resizeableActivity="true"
            android:theme="@style/UtilDialogTheme">

            <!-- This screen gets enabled or disabled programmatically
                 upon env connection/disconnection. -->

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.albums.view.DestinationAlbumSelectionActivity"
            android:exported="false"
            android:label="@string/albums"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".features.widgets.photoframe.view.PhotoFrameWidgetConfigurationActivity"
            android:exported="true"
            android:label="@string/photo_frame_widget_name"
            android:resizeableActivity="true"
            android:theme="@style/UtilDialogTheme"
            android:windowSoftInputMode="adjustResize">

            <!-- This screen gets enabled or disabled programmatically
                 on optional features initialization.
                 However, it must be initially enabled in order to appear
                 in old launchers widget list. -->
        </activity>

        <activity
            android:name=".features.albums.view.AlbumsActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".features.gallery.view.GallerySingleRepositoryActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".features.ext.key.renewal.view.KeyRenewalActivity"
            android:exported="false"
            android:label="@string/key_renewal_title"
            android:resizeableActivity="true" />

        <activity
            android:name=".features.labels.view.LabelsActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name=".features.gallery.logic.UpdatableFileProvider"
            android:authorities="${fileProviderAuthority}"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver
            android:name=".features.gallery.view.ShareSheetShareEventReceiver"
            android:exported="false" />

        <receiver
            android:name=".features.widgets.photoframe.view.PhotoFrameWidgetProvider"
            android:exported="false"
            android:label="@string/photo_frame_widget_name">

            <!-- This widget gets enabled or disabled programmatically
                 on optional features initialization.
                 However, it must be initially enabled in order to appear
                 in old launchers widget list. -->

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_photo_frame_info" />
        </receiver>

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />
    </application>

</manifest>
